<footer>
  <div id="footer-nav">

    <div id="social">
      <ul>
        <li class="fb"><a href="https://www.facebook.com/sendMashnote">Facebook</a></li>
        <li class="tw"><a href="http://twitter.com/sendmashnote">Twitter</a></li>
      </ul>
    </div>

    <div id="footer-links">
      <ul>
        <li>{{link-to 'About' 'about'}}</li>
        <li>{{link-to 'Team' 'team'}}</li>
        <li>{{link-to 'Privacy & Terms' 'privacy'}}</li>
      </ul>
    </div>
  </div> <!-- closing footer-nav -->
</footer>

