<header>
<!-- ////////////////////// LOGIN ////////////////////// -->
    <div id="login">        
      <!-- <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"> -->
          Hi Nidhi
      <!-- </button> -->
    </div>
<!-- ////////////////////// LOGIN ////////////////////// -->

<!-- ////////////////////// SIGN IN MODAL ////////////////////// -->        
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <div class="modal-content">
    <div class="modal-body">
     Please connect with Facebook or Twitter in order to send a note. 
     <br> <br>
     We just want to make sure you're a real person. We will not share your information or your mashnote with anyone.
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-primary" id="btnfb">Facebook</button>
    <button type="button" class="btn btn-primary" id="btntw">Twitter</button>
    </div>
  </div>
  </div>
</div>
<!-- ////////////////////// SIGN IN MODAL ////////////////////// -->

<div id="logo">
      <h1><a id="brand" href="index.html">mashnote</a></h1>
</div>
    <div id="tagline">
      <h3>A way to
        anonymously send positive feedback. <a href="about_mashnote.html">MORE</a>
      </h3>
    </div>
</header>
