<div id="about"> 
<h2>Why Mashnote?</h2>
	Mashnote grew out of the realization that we
rarely celebrate the people in our lives, and all the details that make them great, until
it&#39;s too late. We created Mashnote so you could say the specific things you admire about
your close friend, your sister, the colleague on your team at work, the guy at the deli --
and so you could do so anonymously.
<br><br>
Mashnote is a twist on the secret admirer notes of simpler times. You send an anonymous
telegram that&#39;s affirmative, positive, and encouraging. 

		<h2> &mdash; contact us &mdash;</h2>

		<a class="email" href="mailto:team@sendmashnote.com">team@sendmashnote.com</a>

		<h2> &mdash; elsewhere &mdash; </h2>
         
		<div id="aboutsocial">
			<li class="fb"><a href="https://www.facebook.com/sendMashnote">Facebook</a></li>
			<li class="tw"><a href="http://twitter.com/sendmashnote">Twitter</a></li>
    </div>
</div>