<div id="wrapper">
  <div id="note">
    <div id="emailbox">
      <span class="email">to: </span>
      <input id="email" type="email" placeholder='friend@gmail.com' name="nn">
    </div>
    <div id="notebox">
      <textarea id="writenote" rows="16" placeholder="Here's my note I am sending you, to bring a little sunshine to your day."></textarea>
    </div>
    <div id="sendarea">
      <div id="checksend">
        <div class="checkInput"><input type="checkbox" name="" value="1" id="checkInputOne"></div>
        <label for="checkInputOne"></label>
      </div>
      <span id="checkCopy">Send a copy to myself</span>
    </div>
    <button id="sendnote">Send Note</button>
  </div>
</div>

<div id="plane">
  <a id ="planelink" href="#">Here's my plane over here.</a>
</div>
