<div id="gotnote">

  <div id="emailbox">
    <span id="email">a note to: </span> 
    <span id="emailinput">{{email}}</span>
  </div> <!-- closing emailbox -->

  <div id="notebox">
    <div id="writenote">
      {{text}}
    </div>

  </div> <!-- closing notebox -->

</div> <!-- closing got note -->

<div id="noteshare">
  <button class="thanksender">Thank Sender</button>
  <button class="thanksender">Share on <img class ="fb" src="images/fb_icon.png"</></button>
  <button class="thanksender">Tweet on <img class ="fb" src="images/tw_icon.png"</></button>
</div>
